# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

htslib/tabix
htslib/bgzip
htslib/htsfile
samtools/samtools
bcftools/bcftools
cramore/cramore
vt-topmed/vt
king/king
king/*.o
*.o
libsvm/svm-train
libsvm/svm-predict
libsvm/svm-scale
